*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* MIX */
body{
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 1200px;
  margin: auto;
}

.menu-inline > li{
  display: inline-block;
  list-style: none;
  line-height: 50px;
}
.menu-inline > li > a{
  text-decoration: none;
  text-transform: uppercase;
  color: #A0A6AD;
}

.menu-inline li:hover > a{
  color: #000;
}

.btn{
  background-color: black;
  color: #fff;
  padding: 0 10px;
  border-radius: 15px;
  text-decoration: none;
}

.open-menu{
  position: relative;
}

.dropdown-menu{
  display: none;
  position: absolute;
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #888;
  white-space: nowrap;
}

.dropdown-menu li{
  list-style: none;
}
.dropdown-menu li a {
  text-decoration: none;
  color: #A0A6AD;
}

/* HEADER */
.main-nav{
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-top: 40px;
  line-height: 50px;
}

.nav-left, .nav-right{
  display: flex;
}
.nav-left-logo img{
  height: 50px;
}
.menu-left li{
  padding-left: 15px;
}

.menu-right li{
  padding-right: 15px;
}
